{% extends 'core/base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <label for="exampleFormControlTextarea" class = "text">Please describe desired ticket:</label>
                <textarea class="form-control" id="exampleFormControlTextarea" rows="15"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <button type="button" class="btn btn-search btn-lg btn-block">Search</button>
        </div>
    </div>
{% endblock %}