body {
    background: white url("images/image.jpg");
    font-family: 'Pacifico', cursive;
}

h2 {
    text-align:center;
    font-family: 'Pacifico', cursive;
}

textarea {
    resize: none;
}

.navbar-brand {
    font-size: 20px;
}

.navbar {
    border-radius: 0;
}

.text {
    font-size: 20px;
}

.btn-search {
    background-color: #ffd700;
}

.error {
  color: red;
}

.info {
    font-size: 20px;
}

.tr-heading {
    background-color: #ffd700;
}


