body {
    background: white url("images/image.jpg");
}

h2 {
    text-align:center;
    font-family: 'Pacifico', cursive;
}

textarea {
    resize: none;
}

b {
    color: red;
}

.navbar-brand {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}

.navbar {
    border-radius: 0;
}

.text {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}

.btn-search {
    background-color: #ffd700;
    font-family: 'Pacifico', cursive;
}

.error {
  color: red;
}

.info {
    font-size: 20px;
}

.link {
    font-family: 'Pacifico', cursive;
}

.tr-heading {
    background-color: #ffd700;
    font-family: 'Pacifico', cursive;
}

.my-header {
    background-color: #ffd700;
    font-family: 'Pacifico', cursive;
}

textarea, .my-btn {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
}

